/*for tablet*/
@media all and (max-width: 1000px){
    .kontens{
        padding: 20px
    }
    .konten{
        width: 50%;
    }
}

@media all and(max-width: 670px){
    .konten{
        width: 50%;
    }
}
