/*for tablet*/
@media all and (max-width: 1000px){
    .kontens{
        padding: 20px
    }
    .konten{
        width: 50%;
    }
}

@media all and(max-width: 670px){
    .konten{
        width: 50%;
    }
    .konten-txt h2{
        font-size: 24px;
    }
    .konten-txt p{
        font-size: 16px;
    }
    .konten img{
        width: 30px;
    }
}