/*for tablet*/
@media all and (max-width: 1000px){
    .k3{
        height: auto;
        font-size: 15px;
    }
    .kontens{
        padding: 2em;
        height: 600px;
    }
    .konten{
        width: 50%;
    }
    .konten-txt{
        width: 90%;
    }
    .konten img{
        width: 3.5em;
    }
    .konten-txt h2{
        font-size: 2.5em;
    }
    .konten-txt p{
        font-size: 1.3em;
    }
}
@media all and(max-width: 670px){
    .k3{
        height: auto;
        
        
    }
    .kontens{
        padding-left: 1em;
        padding-top: 1em;
        padding-right: 1em;
        font-size: 10px;
    }
    .konten{
        width: 50%;
        margin: 100px;
    }
    .konten img{
        width: 1em;
    }
    .konten-txt h2{
        font-size: 1em;
    }
    .konten-txt p{
        font-size: 0.5em;

    }
}
